* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body {
  background-color: rgb(240, 224, 210);
  font-size: larger;
}

p {
  max-width: 80%;
  text-align: center;
  margin-left: 10%;
}

div {
  display: flex;
  justify-content: center;
}

.figure-container figure {
  width: 50%;
  margin: 15px 0px;
}

div figure img {
  width: 100%;
}

