h1, p{
    font-weight: 600;
    text-align: center;
}

li:hover{
    color: gold;
background-color:#191970;
}
li{
    text-align: center;
    list-style: none;
    font-weight:600;
    color: darkred;
}

li:active{
    font-size: 2rem;
    font-family:monospace;
}